Connected Services/LoginWS/LoginWS11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservices.sist.afp.ggNoTeam/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="LoginWS" targetNamespace="http://webservices.sist.afp.ggNoTeam/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.0.16:8080/WebServices/LoginWS?xsd=1" namespace="http://webservices.sist.afp.ggNoTeam/" />
    </xsd:schema>
  </types>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="insertarPersona">
    <part name="parameters" element="tns:insertarPersona" />
  </message>
  <message name="insertarPersonaResponse">
    <part name="parameters" element="tns:insertarPersonaResponse" />
  </message>
  <message name="modificarPersona">
    <part name="parameters" element="tns:modificarPersona" />
  </message>
  <message name="modificarPersonaResponse">
    <part name="parameters" element="tns:modificarPersonaResponse" />
  </message>
  <message name="listarNoUsuarios">
    <part name="parameters" element="tns:listarNoUsuarios" />
  </message>
  <message name="listarNoUsuariosResponse">
    <part name="parameters" element="tns:listarNoUsuariosResponse" />
  </message>
  <message name="eliminarPersona">
    <part name="parameters" element="tns:eliminarPersona" />
  </message>
  <message name="eliminarPersonaResponse">
    <part name="parameters" element="tns:eliminarPersonaResponse" />
  </message>
  <message name="listarPorCodExacto_TareasCompletas">
    <part name="parameters" element="tns:listarPorCodExacto_TareasCompletas" />
  </message>
  <message name="listarPorCodExacto_TareasCompletasResponse">
    <part name="parameters" element="tns:listarPorCodExacto_TareasCompletasResponse" />
  </message>
  <message name="listarPorCodExacto_TareasInompletas">
    <part name="parameters" element="tns:listarPorCodExacto_TareasInompletas" />
  </message>
  <message name="listarPorCodExacto_TareasInompletasResponse">
    <part name="parameters" element="tns:listarPorCodExacto_TareasInompletasResponse" />
  </message>
  <message name="listarAdministradores">
    <part name="parameters" element="tns:listarAdministradores" />
  </message>
  <message name="listarAdministradoresResponse">
    <part name="parameters" element="tns:listarAdministradoresResponse" />
  </message>
  <message name="buscarPersonaCodigoExacto">
    <part name="parameters" element="tns:buscarPersonaCodigoExacto" />
  </message>
  <message name="buscarPersonaCodigoExactoResponse">
    <part name="parameters" element="tns:buscarPersonaCodigoExactoResponse" />
  </message>
  <message name="listarPersonaPorID">
    <part name="parameters" element="tns:listarPersonaPorID" />
  </message>
  <message name="listarPersonaPorIDResponse">
    <part name="parameters" element="tns:listarPersonaPorIDResponse" />
  </message>
  <message name="listarPorCodNom">
    <part name="parameters" element="tns:listarPorCodNom" />
  </message>
  <message name="listarPorCodNomResponse">
    <part name="parameters" element="tns:listarPorCodNomResponse" />
  </message>
  <message name="listarPorCodExacto">
    <part name="parameters" element="tns:listarPorCodExacto" />
  </message>
  <message name="listarPorCodExactoResponse">
    <part name="parameters" element="tns:listarPorCodExactoResponse" />
  </message>
  <message name="verificarCredenciales">
    <part name="parameters" element="tns:verificarCredenciales" />
  </message>
  <message name="verificarCredencialesResponse">
    <part name="parameters" element="tns:verificarCredencialesResponse" />
  </message>
  <portType name="LoginWS">
    <operation name="listarUsuarios">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="insertarPersona">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/insertarPersonaRequest" message="tns:insertarPersona" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/insertarPersonaResponse" message="tns:insertarPersonaResponse" />
    </operation>
    <operation name="modificarPersona">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/modificarPersonaRequest" message="tns:modificarPersona" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/modificarPersonaResponse" message="tns:modificarPersonaResponse" />
    </operation>
    <operation name="listarNoUsuarios">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarNoUsuariosRequest" message="tns:listarNoUsuarios" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarNoUsuariosResponse" message="tns:listarNoUsuariosResponse" />
    </operation>
    <operation name="eliminarPersona">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/eliminarPersonaRequest" message="tns:eliminarPersona" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/eliminarPersonaResponse" message="tns:eliminarPersonaResponse" />
    </operation>
    <operation name="listarPorCodExacto_TareasCompletas">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPorCodExacto_TareasCompletasRequest" message="tns:listarPorCodExacto_TareasCompletas" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPorCodExacto_TareasCompletasResponse" message="tns:listarPorCodExacto_TareasCompletasResponse" />
    </operation>
    <operation name="listarPorCodExacto_TareasInompletas">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPorCodExacto_TareasInompletasRequest" message="tns:listarPorCodExacto_TareasInompletas" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPorCodExacto_TareasInompletasResponse" message="tns:listarPorCodExacto_TareasInompletasResponse" />
    </operation>
    <operation name="listarAdministradores">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarAdministradoresRequest" message="tns:listarAdministradores" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarAdministradoresResponse" message="tns:listarAdministradoresResponse" />
    </operation>
    <operation name="buscarPersonaCodigoExacto">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/buscarPersonaCodigoExactoRequest" message="tns:buscarPersonaCodigoExacto" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/buscarPersonaCodigoExactoResponse" message="tns:buscarPersonaCodigoExactoResponse" />
    </operation>
    <operation name="listarPersonaPorID">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPersonaPorIDRequest" message="tns:listarPersonaPorID" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPersonaPorIDResponse" message="tns:listarPersonaPorIDResponse" />
    </operation>
    <operation name="listarPorCodNom">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPorCodNomRequest" message="tns:listarPorCodNom" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPorCodNomResponse" message="tns:listarPorCodNomResponse" />
    </operation>
    <operation name="listarPorCodExacto">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPorCodExactoRequest" message="tns:listarPorCodExacto" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/listarPorCodExactoResponse" message="tns:listarPorCodExactoResponse" />
    </operation>
    <operation name="verificarCredenciales">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/verificarCredencialesRequest" message="tns:verificarCredenciales" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/LoginWS/verificarCredencialesResponse" message="tns:verificarCredencialesResponse" />
    </operation>
  </portType>
  <binding name="LoginWSPortBinding" type="tns:LoginWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarNoUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCodExacto_TareasCompletas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCodExacto_TareasInompletas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAdministradores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPersonaCodigoExacto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPersonaPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCodNom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCodExacto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarCredenciales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LoginWS">
    <port name="LoginWSPort" binding="tns:LoginWSPortBinding">
      <soap:address location="http://192.168.0.16:8080/WebServices/LoginWS" />
    </port>
  </service>
</definitions>