Connected Services/LoginWS/LoginWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.sist.afp.ggNoTeam/" targetNamespace="http://webservices.sist.afp.ggNoTeam/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarPersonaCodigoExacto" type="tns:buscarPersonaCodigoExacto" />
  <xs:element name="buscarPersonaCodigoExactoResponse" type="tns:buscarPersonaCodigoExactoResponse" />
  <xs:element name="eliminarPersona" type="tns:eliminarPersona" />
  <xs:element name="eliminarPersonaResponse" type="tns:eliminarPersonaResponse" />
  <xs:element name="insertarPersona" type="tns:insertarPersona" />
  <xs:element name="insertarPersonaResponse" type="tns:insertarPersonaResponse" />
  <xs:element name="listarAdministradores" type="tns:listarAdministradores" />
  <xs:element name="listarAdministradoresResponse" type="tns:listarAdministradoresResponse" />
  <xs:element name="listarNoUsuarios" type="tns:listarNoUsuarios" />
  <xs:element name="listarNoUsuariosResponse" type="tns:listarNoUsuariosResponse" />
  <xs:element name="listarPersonaPorID" type="tns:listarPersonaPorID" />
  <xs:element name="listarPersonaPorIDResponse" type="tns:listarPersonaPorIDResponse" />
  <xs:element name="listarPorCodExacto" type="tns:listarPorCodExacto" />
  <xs:element name="listarPorCodExactoResponse" type="tns:listarPorCodExactoResponse" />
  <xs:element name="listarPorCodExacto_TareasCompletas" type="tns:listarPorCodExacto_TareasCompletas" />
  <xs:element name="listarPorCodExacto_TareasCompletasResponse" type="tns:listarPorCodExacto_TareasCompletasResponse" />
  <xs:element name="listarPorCodExacto_TareasInompletas" type="tns:listarPorCodExacto_TareasInompletas" />
  <xs:element name="listarPorCodExacto_TareasInompletasResponse" type="tns:listarPorCodExacto_TareasInompletasResponse" />
  <xs:element name="listarPorCodNom" type="tns:listarPorCodNom" />
  <xs:element name="listarPorCodNomResponse" type="tns:listarPorCodNomResponse" />
  <xs:element name="listarUsuarios" type="tns:listarUsuarios" />
  <xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />
  <xs:element name="modificarPersona" type="tns:modificarPersona" />
  <xs:element name="modificarPersonaResponse" type="tns:modificarPersonaResponse" />
  <xs:element name="verificarCredenciales" type="tns:verificarCredenciales" />
  <xs:element name="verificarCredencialesResponse" type="tns:verificarCredencialesResponse" />
  <xs:complexType name="listarNoUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarNoUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="itinerario" type="tns:itinerario" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
      <xs:element name="tipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="validacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itinerario">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="idItineraio" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaTarea" nillable="true" type="tns:tarea" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tarea">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaLimite" type="xs:string" />
      <xs:element name="fidAutor" type="xs:int" />
      <xs:element name="fidItinerario" type="xs:int" />
      <xs:element name="idTarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAdministradores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersona">
    <xs:sequence>
      <xs:element name="idPersona" type="xs:int" />
      <xs:element name="idItinerario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCodNom">
    <xs:sequence>
      <xs:element minOccurs="0" name="codnom" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCodNomResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCodExacto">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCodExactoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPersonaCodigoExacto">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPersonaCodigoExactoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonaPorID">
    <xs:sequence>
      <xs:element name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonaPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCredenciales">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCredencialesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCodExacto_TareasCompletas">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCodExacto_TareasCompletasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCodExacto_TareasInompletas">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorCodExacto_TareasInompletasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>