Connected Services/TrackingErrorWS/TrackingErrorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservices.sist.afp.ggNoTeam/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TrackingErrorWS" targetNamespace="http://webservices.sist.afp.ggNoTeam/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.236.140.237:8080/WebServices/TrackingErrorWS?xsd=1" namespace="http://webservices.sist.afp.ggNoTeam/" />
    </xsd:schema>
  </types>
  <message name="ListarPorFechaSinYtoDDataValorCuota">
    <part name="parameters" element="tns:ListarPorFechaSinYtoDDataValorCuota" />
  </message>
  <message name="ListarPorFechaSinYtoDDataValorCuotaResponse">
    <part name="parameters" element="tns:ListarPorFechaSinYtoDDataValorCuotaResponse" />
  </message>
  <message name="ListarPorFechaDataValorCuota">
    <part name="parameters" element="tns:ListarPorFechaDataValorCuota" />
  </message>
  <message name="ListarPorFechaDataValorCuotaResponse">
    <part name="parameters" element="tns:ListarPorFechaDataValorCuotaResponse" />
  </message>
  <message name="ListarIntegraPatrimonioYtoDPorFechaDataValorCuota">
    <part name="parameters" element="tns:ListarIntegraPatrimonioYtoDPorFechaDataValorCuota" />
  </message>
  <message name="ListarIntegraPatrimonioYtoDPorFechaDataValorCuotaResponse">
    <part name="parameters" element="tns:ListarIntegraPatrimonioYtoDPorFechaDataValorCuotaResponse" />
  </message>
  <message name="ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuota">
    <part name="parameters" element="tns:ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuota" />
  </message>
  <message name="ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuotaResponse">
    <part name="parameters" element="tns:ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuotaResponse" />
  </message>
  <message name="insertarAlpha">
    <part name="parameters" element="tns:insertarAlpha" />
  </message>
  <message name="insertarAlphaResponse">
    <part name="parameters" element="tns:insertarAlphaResponse" />
  </message>
  <message name="modificarAfp">
    <part name="parameters" element="tns:modificarAfp" />
  </message>
  <message name="modificarAfpResponse">
    <part name="parameters" element="tns:modificarAfpResponse" />
  </message>
  <message name="eliminarAlpha">
    <part name="parameters" element="tns:eliminarAlpha" />
  </message>
  <message name="eliminarAlphaResponse">
    <part name="parameters" element="tns:eliminarAlphaResponse" />
  </message>
  <message name="modificarAlpha">
    <part name="parameters" element="tns:modificarAlpha" />
  </message>
  <message name="modificarAlphaResponse">
    <part name="parameters" element="tns:modificarAlphaResponse" />
  </message>
  <message name="ListarTodasAfp">
    <part name="parameters" element="tns:ListarTodasAfp" />
  </message>
  <message name="ListarTodasAfpResponse">
    <part name="parameters" element="tns:ListarTodasAfpResponse" />
  </message>
  <message name="eliminarAfp">
    <part name="parameters" element="tns:eliminarAfp" />
  </message>
  <message name="eliminarAfpResponse">
    <part name="parameters" element="tns:eliminarAfpResponse" />
  </message>
  <message name="listarTodasAlpha">
    <part name="parameters" element="tns:listarTodasAlpha" />
  </message>
  <message name="listarTodasAlphaResponse">
    <part name="parameters" element="tns:listarTodasAlphaResponse" />
  </message>
  <message name="insertarAfp">
    <part name="parameters" element="tns:insertarAfp" />
  </message>
  <message name="insertarAfpResponse">
    <part name="parameters" element="tns:insertarAfpResponse" />
  </message>
  <message name="insertarFondo">
    <part name="parameters" element="tns:insertarFondo" />
  </message>
  <message name="insertarFondoResponse">
    <part name="parameters" element="tns:insertarFondoResponse" />
  </message>
  <message name="eliminarFondo">
    <part name="parameters" element="tns:eliminarFondo" />
  </message>
  <message name="eliminarFondoResponse">
    <part name="parameters" element="tns:eliminarFondoResponse" />
  </message>
  <message name="listarTodosFondo">
    <part name="parameters" element="tns:listarTodosFondo" />
  </message>
  <message name="listarTodosFondoResponse">
    <part name="parameters" element="tns:listarTodosFondoResponse" />
  </message>
  <message name="eliminarAssetError">
    <part name="parameters" element="tns:eliminarAssetError" />
  </message>
  <message name="eliminarAssetErrorResponse">
    <part name="parameters" element="tns:eliminarAssetErrorResponse" />
  </message>
  <message name="listarTodasAssetError">
    <part name="parameters" element="tns:listarTodasAssetError" />
  </message>
  <message name="listarTodasAssetErrorResponse">
    <part name="parameters" element="tns:listarTodasAssetErrorResponse" />
  </message>
  <message name="listarTodosDataValorCuota">
    <part name="parameters" element="tns:listarTodosDataValorCuota" />
  </message>
  <message name="listarTodosDataValorCuotaResponse">
    <part name="parameters" element="tns:listarTodosDataValorCuotaResponse" />
  </message>
  <message name="modificarAssetError">
    <part name="parameters" element="tns:modificarAssetError" />
  </message>
  <message name="modificarAssetErrorResponse">
    <part name="parameters" element="tns:modificarAssetErrorResponse" />
  </message>
  <message name="modificarTrackingError">
    <part name="parameters" element="tns:modificarTrackingError" />
  </message>
  <message name="modificarTrackingErrorResponse">
    <part name="parameters" element="tns:modificarTrackingErrorResponse" />
  </message>
  <message name="eliminarDataValorCuota">
    <part name="parameters" element="tns:eliminarDataValorCuota" />
  </message>
  <message name="eliminarDataValorCuotaResponse">
    <part name="parameters" element="tns:eliminarDataValorCuotaResponse" />
  </message>
  <message name="listarPorFechaSinProducto">
    <part name="parameters" element="tns:listarPorFechaSinProducto" />
  </message>
  <message name="listarPorFechaSinProductoResponse">
    <part name="parameters" element="tns:listarPorFechaSinProductoResponse" />
  </message>
  <message name="insertarAssetError">
    <part name="parameters" element="tns:insertarAssetError" />
  </message>
  <message name="insertarAssetErrorResponse">
    <part name="parameters" element="tns:insertarAssetErrorResponse" />
  </message>
  <message name="eliminarTrackingError">
    <part name="parameters" element="tns:eliminarTrackingError" />
  </message>
  <message name="eliminarTrackingErrorResponse">
    <part name="parameters" element="tns:eliminarTrackingErrorResponse" />
  </message>
  <message name="modificarDataValorCuota">
    <part name="parameters" element="tns:modificarDataValorCuota" />
  </message>
  <message name="modificarDataValorCuotaResponse">
    <part name="parameters" element="tns:modificarDataValorCuotaResponse" />
  </message>
  <message name="insertarDataValorCuota">
    <part name="parameters" element="tns:insertarDataValorCuota" />
  </message>
  <message name="insertarDataValorCuotaResponse">
    <part name="parameters" element="tns:insertarDataValorCuotaResponse" />
  </message>
  <message name="ListarTodosTrackingError">
    <part name="parameters" element="tns:ListarTodosTrackingError" />
  </message>
  <message name="ListarTodosTrackingErrorResponse">
    <part name="parameters" element="tns:ListarTodosTrackingErrorResponse" />
  </message>
  <message name="listarPorFechaConProducto">
    <part name="parameters" element="tns:listarPorFechaConProducto" />
  </message>
  <message name="listarPorFechaConProductoResponse">
    <part name="parameters" element="tns:listarPorFechaConProductoResponse" />
  </message>
  <message name="insertarTrackingError">
    <part name="parameters" element="tns:insertarTrackingError" />
  </message>
  <message name="insertarTrackingErrorResponse">
    <part name="parameters" element="tns:insertarTrackingErrorResponse" />
  </message>
  <portType name="TrackingErrorWS">
    <operation name="ListarPorFechaSinYtoDDataValorCuota">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarPorFechaSinYtoDDataValorCuotaRequest" message="tns:ListarPorFechaSinYtoDDataValorCuota" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarPorFechaSinYtoDDataValorCuotaResponse" message="tns:ListarPorFechaSinYtoDDataValorCuotaResponse" />
    </operation>
    <operation name="ListarPorFechaDataValorCuota">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarPorFechaDataValorCuotaRequest" message="tns:ListarPorFechaDataValorCuota" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarPorFechaDataValorCuotaResponse" message="tns:ListarPorFechaDataValorCuotaResponse" />
    </operation>
    <operation name="ListarIntegraPatrimonioYtoDPorFechaDataValorCuota">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarIntegraPatrimonioYtoDPorFechaDataValorCuotaRequest" message="tns:ListarIntegraPatrimonioYtoDPorFechaDataValorCuota" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarIntegraPatrimonioYtoDPorFechaDataValorCuotaResponse" message="tns:ListarIntegraPatrimonioYtoDPorFechaDataValorCuotaResponse" />
    </operation>
    <operation name="ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuota">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuotaRequest" message="tns:ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuota" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuotaResponse" message="tns:ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuotaResponse" />
    </operation>
    <operation name="insertarAlpha">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarAlphaRequest" message="tns:insertarAlpha" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarAlphaResponse" message="tns:insertarAlphaResponse" />
    </operation>
    <operation name="modificarAfp">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarAfpRequest" message="tns:modificarAfp" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarAfpResponse" message="tns:modificarAfpResponse" />
    </operation>
    <operation name="eliminarAlpha">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarAlphaRequest" message="tns:eliminarAlpha" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarAlphaResponse" message="tns:eliminarAlphaResponse" />
    </operation>
    <operation name="modificarAlpha">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarAlphaRequest" message="tns:modificarAlpha" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarAlphaResponse" message="tns:modificarAlphaResponse" />
    </operation>
    <operation name="ListarTodasAfp">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarTodasAfpRequest" message="tns:ListarTodasAfp" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarTodasAfpResponse" message="tns:ListarTodasAfpResponse" />
    </operation>
    <operation name="eliminarAfp">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarAfpRequest" message="tns:eliminarAfp" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarAfpResponse" message="tns:eliminarAfpResponse" />
    </operation>
    <operation name="listarTodasAlpha">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarTodasAlphaRequest" message="tns:listarTodasAlpha" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarTodasAlphaResponse" message="tns:listarTodasAlphaResponse" />
    </operation>
    <operation name="insertarAfp">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarAfpRequest" message="tns:insertarAfp" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarAfpResponse" message="tns:insertarAfpResponse" />
    </operation>
    <operation name="insertarFondo">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarFondoRequest" message="tns:insertarFondo" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarFondoResponse" message="tns:insertarFondoResponse" />
    </operation>
    <operation name="eliminarFondo">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarFondoRequest" message="tns:eliminarFondo" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarFondoResponse" message="tns:eliminarFondoResponse" />
    </operation>
    <operation name="listarTodosFondo">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarTodosFondoRequest" message="tns:listarTodosFondo" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarTodosFondoResponse" message="tns:listarTodosFondoResponse" />
    </operation>
    <operation name="eliminarAssetError">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarAssetErrorRequest" message="tns:eliminarAssetError" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarAssetErrorResponse" message="tns:eliminarAssetErrorResponse" />
    </operation>
    <operation name="listarTodasAssetError">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarTodasAssetErrorRequest" message="tns:listarTodasAssetError" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarTodasAssetErrorResponse" message="tns:listarTodasAssetErrorResponse" />
    </operation>
    <operation name="listarTodosDataValorCuota">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarTodosDataValorCuotaRequest" message="tns:listarTodosDataValorCuota" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarTodosDataValorCuotaResponse" message="tns:listarTodosDataValorCuotaResponse" />
    </operation>
    <operation name="modificarAssetError">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarAssetErrorRequest" message="tns:modificarAssetError" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarAssetErrorResponse" message="tns:modificarAssetErrorResponse" />
    </operation>
    <operation name="modificarTrackingError">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarTrackingErrorRequest" message="tns:modificarTrackingError" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarTrackingErrorResponse" message="tns:modificarTrackingErrorResponse" />
    </operation>
    <operation name="eliminarDataValorCuota">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarDataValorCuotaRequest" message="tns:eliminarDataValorCuota" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarDataValorCuotaResponse" message="tns:eliminarDataValorCuotaResponse" />
    </operation>
    <operation name="listarPorFechaSinProducto">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarPorFechaSinProductoRequest" message="tns:listarPorFechaSinProducto" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarPorFechaSinProductoResponse" message="tns:listarPorFechaSinProductoResponse" />
    </operation>
    <operation name="insertarAssetError">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarAssetErrorRequest" message="tns:insertarAssetError" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarAssetErrorResponse" message="tns:insertarAssetErrorResponse" />
    </operation>
    <operation name="eliminarTrackingError">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarTrackingErrorRequest" message="tns:eliminarTrackingError" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/eliminarTrackingErrorResponse" message="tns:eliminarTrackingErrorResponse" />
    </operation>
    <operation name="modificarDataValorCuota">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarDataValorCuotaRequest" message="tns:modificarDataValorCuota" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/modificarDataValorCuotaResponse" message="tns:modificarDataValorCuotaResponse" />
    </operation>
    <operation name="insertarDataValorCuota">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarDataValorCuotaRequest" message="tns:insertarDataValorCuota" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarDataValorCuotaResponse" message="tns:insertarDataValorCuotaResponse" />
    </operation>
    <operation name="ListarTodosTrackingError">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarTodosTrackingErrorRequest" message="tns:ListarTodosTrackingError" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/ListarTodosTrackingErrorResponse" message="tns:ListarTodosTrackingErrorResponse" />
    </operation>
    <operation name="listarPorFechaConProducto">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarPorFechaConProductoRequest" message="tns:listarPorFechaConProducto" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/listarPorFechaConProductoResponse" message="tns:listarPorFechaConProductoResponse" />
    </operation>
    <operation name="insertarTrackingError">
      <input wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarTrackingErrorRequest" message="tns:insertarTrackingError" />
      <output wsam:Action="http://webservices.sist.afp.ggNoTeam/TrackingErrorWS/insertarTrackingErrorResponse" message="tns:insertarTrackingErrorResponse" />
    </operation>
  </portType>
  <binding name="TrackingErrorWSPortBinding" type="tns:TrackingErrorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ListarPorFechaSinYtoDDataValorCuota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarPorFechaDataValorCuota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarIntegraPatrimonioYtoDPorFechaDataValorCuota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarNoIntegraPatrimonioYtoDPorFechaDDataValorCuota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlpha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAfp">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlpha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlpha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTodasAfp">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAfp">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasAlpha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAfp">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarFondo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFondo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosFondo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAssetError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasAssetError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosDataValorCuota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAssetError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTrackingError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDataValorCuota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorFechaSinProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAssetError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarTrackingError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDataValorCuota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDataValorCuota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTodosTrackingError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorFechaConProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTrackingError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TrackingErrorWS">
    <port name="TrackingErrorWSPort" binding="tns:TrackingErrorWSPortBinding">
      <soap:address location="http://54.236.140.237:8080/WebServices/TrackingErrorWS" />
    </port>
  </service>
</definitions>