Connected Services/TrackingErrorWS/TrackingErrorWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.sist.afp.ggNoTeam/" targetNamespace="http://webservices.sist.afp.ggNoTeam/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListarFondos" type="tns:ListarFondos" />
  <xs:element name="ListarFondosResponse" type="tns:ListarFondosResponse" />
  <xs:element name="ListarPorFechaPorFondoAssetError" type="tns:ListarPorFechaPorFondoAssetError" />
  <xs:element name="ListarPorFechaPorFondoAssetErrorResponse" type="tns:ListarPorFechaPorFondoAssetErrorResponse" />
  <xs:element name="ListarPorFechaPorFondoDataValorCuota" type="tns:ListarPorFechaPorFondoDataValorCuota" />
  <xs:element name="ListarPorFechaPorFondoDataValorCuotaResponse" type="tns:ListarPorFechaPorFondoDataValorCuotaResponse" />
  <xs:element name="ListarTodasAfp" type="tns:ListarTodasAfp" />
  <xs:element name="ListarTodasAfpResponse" type="tns:ListarTodasAfpResponse" />
  <xs:element name="ListarTodosTrackingError" type="tns:ListarTodosTrackingError" />
  <xs:element name="ListarTodosTrackingErrorResponse" type="tns:ListarTodosTrackingErrorResponse" />
  <xs:element name="eliminarAfp" type="tns:eliminarAfp" />
  <xs:element name="eliminarAfpResponse" type="tns:eliminarAfpResponse" />
  <xs:element name="eliminarAlpha" type="tns:eliminarAlpha" />
  <xs:element name="eliminarAlphaResponse" type="tns:eliminarAlphaResponse" />
  <xs:element name="eliminarAssetError" type="tns:eliminarAssetError" />
  <xs:element name="eliminarAssetErrorResponse" type="tns:eliminarAssetErrorResponse" />
  <xs:element name="eliminarDataValorCuota" type="tns:eliminarDataValorCuota" />
  <xs:element name="eliminarDataValorCuotaResponse" type="tns:eliminarDataValorCuotaResponse" />
  <xs:element name="eliminarTrackingError" type="tns:eliminarTrackingError" />
  <xs:element name="eliminarTrackingErrorResponse" type="tns:eliminarTrackingErrorResponse" />
  <xs:element name="insertarAfp" type="tns:insertarAfp" />
  <xs:element name="insertarAfpResponse" type="tns:insertarAfpResponse" />
  <xs:element name="insertarAlpha" type="tns:insertarAlpha" />
  <xs:element name="insertarAlphaResponse" type="tns:insertarAlphaResponse" />
  <xs:element name="insertarAssetError" type="tns:insertarAssetError" />
  <xs:element name="insertarAssetErrorResponse" type="tns:insertarAssetErrorResponse" />
  <xs:element name="insertarDataValorCuota" type="tns:insertarDataValorCuota" />
  <xs:element name="insertarDataValorCuotaResponse" type="tns:insertarDataValorCuotaResponse" />
  <xs:element name="insertarTrackingError" type="tns:insertarTrackingError" />
  <xs:element name="insertarTrackingErrorResponse" type="tns:insertarTrackingErrorResponse" />
  <xs:element name="listarTodasAlpha" type="tns:listarTodasAlpha" />
  <xs:element name="listarTodasAlphaResponse" type="tns:listarTodasAlphaResponse" />
  <xs:element name="modificarAfp" type="tns:modificarAfp" />
  <xs:element name="modificarAfpResponse" type="tns:modificarAfpResponse" />
  <xs:element name="modificarAlpha" type="tns:modificarAlpha" />
  <xs:element name="modificarAlphaResponse" type="tns:modificarAlphaResponse" />
  <xs:element name="modificarAssetError" type="tns:modificarAssetError" />
  <xs:element name="modificarAssetErrorResponse" type="tns:modificarAssetErrorResponse" />
  <xs:element name="modificarDataValorCuota" type="tns:modificarDataValorCuota" />
  <xs:element name="modificarDataValorCuotaResponse" type="tns:modificarDataValorCuotaResponse" />
  <xs:element name="modificarTrackingError" type="tns:modificarTrackingError" />
  <xs:element name="modificarTrackingErrorResponse" type="tns:modificarTrackingErrorResponse" />
  <xs:complexType name="ListarFondos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarFondosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTrackingError">
    <xs:sequence>
      <xs:element minOccurs="0" name="trackingerror" type="tns:trackingError" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trackingError">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idTrackingError" type="xs:int" />
      <xs:element name="trackingerror" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTrackingErrorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAfp">
    <xs:sequence>
      <xs:element minOccurs="0" name="afp" type="tns:afp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="afp">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="idAFP" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAfpResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlpha">
    <xs:sequence>
      <xs:element minOccurs="0" name="alpha" type="tns:alpha" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alpha">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="alpha" type="xs:double" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idAlpha" type="xs:int" />
      <xs:element name="patrimonioTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlphaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAfp">
    <xs:sequence>
      <xs:element minOccurs="0" name="afp" type="tns:afp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAfpResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTrackingError">
    <xs:sequence>
      <xs:element name="idtrackingerror" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTrackingErrorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAfp">
    <xs:sequence>
      <xs:element name="idAfp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAfpResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasAlpha">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasAlphaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alpha" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarPorFechaPorFondoAssetError">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaIni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarPorFechaPorFondoAssetErrorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:assetError" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assetError">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="fidFondo" type="xs:int" />
      <xs:element name="idAssetError" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="producto" type="xs:double" />
      <xs:element name="totalRiskD" type="xs:double" />
      <xs:element name="wgtP" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDataValorCuota">
    <xs:sequence>
      <xs:element name="idData" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDataValorCuotaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarTodasAfp">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarTodasAfpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:afp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAssetError">
    <xs:sequence>
      <xs:element minOccurs="0" name="asset" type="tns:assetError" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAssetErrorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarTodosTrackingError">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarTodosTrackingErrorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:trackingError" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlpha">
    <xs:sequence>
      <xs:element minOccurs="0" name="alpha" type="tns:alpha" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlphaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDataValorCuota">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataVC" type="tns:dataValorCuota" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataValorCuota">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cuotas" type="xs:double" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idDataValorCuota" type="xs:int" />
      <xs:element name="patrimonio" type="xs:double" />
      <xs:element name="valorCuota" type="xs:double" />
      <xs:element name="ytoD" type="xs:double" />
      <xs:element name="fidAFP" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDataValorCuotaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAssetError">
    <xs:sequence>
      <xs:element name="idAssetError" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAssetErrorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTrackingError">
    <xs:sequence>
      <xs:element minOccurs="0" name="trackingerror" type="tns:trackingError" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTrackingErrorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarPorFechaPorFondoDataValorCuota">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaIni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarPorFechaPorFondoDataValorCuotaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dataValorCuota" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDataValorCuota">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataVC" type="tns:dataValorCuota" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDataValorCuotaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAssetError">
    <xs:sequence>
      <xs:element minOccurs="0" name="asset" type="tns:assetError" />
      <xs:element name="idFondo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAssetErrorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlpha">
    <xs:sequence>
      <xs:element name="idAlpha" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlphaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>