Connected Services/TareasDiariasWS/TareasDiariasWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.sist.afp.ggNoTeam/" targetNamespace="http://webservices.sist.afp.ggNoTeam/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarTarea" type="tns:eliminarTarea" />
  <xs:element name="eliminarTareaResponse" type="tns:eliminarTareaResponse" />
  <xs:element name="insertarTarea" type="tns:insertarTarea" />
  <xs:element name="insertarTareaResponse" type="tns:insertarTareaResponse" />
  <xs:element name="listarTareasPorEstadoPorItinerario" type="tns:listarTareasPorEstadoPorItinerario" />
  <xs:element name="listarTareasPorEstadoPorItinerarioResponse" type="tns:listarTareasPorEstadoPorItinerarioResponse" />
  <xs:element name="modificarTarea" type="tns:modificarTarea" />
  <xs:element name="modificarTareaResponse" type="tns:modificarTareaResponse" />
  <xs:complexType name="modificarTarea">
    <xs:sequence>
      <xs:element minOccurs="0" name="tarea" type="tns:tarea" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tarea">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaLimite" type="xs:string" />
      <xs:element name="fidAutor" type="xs:int" />
      <xs:element name="fidItinerario" type="xs:int" />
      <xs:element name="idTarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTareaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTarea">
    <xs:sequence>
      <xs:element name="idTarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTareaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTarea">
    <xs:sequence>
      <xs:element minOccurs="0" name="tarea" type="tns:tarea" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTareaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTareasPorEstadoPorItinerario">
    <xs:sequence>
      <xs:element name="estado" type="xs:int" />
      <xs:element name="fidItinerario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTareasPorEstadoPorItinerarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tarea" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>