Connected Services/GestionInstrumentosOriginadoresWS/GestionInstOrigWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.sist.afp.ggNoTeam/" targetNamespace="http://webservices.sist.afp.ggNoTeam/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarUnOriginadorPorCodigo" type="tns:buscarUnOriginadorPorCodigo" />
  <xs:element name="buscarUnOriginadorPorCodigoResponse" type="tns:buscarUnOriginadorPorCodigoResponse" />
  <xs:element name="eliminarInstrumento" type="tns:eliminarInstrumento" />
  <xs:element name="eliminarInstrumentoResponse" type="tns:eliminarInstrumentoResponse" />
  <xs:element name="eliminarOriginador" type="tns:eliminarOriginador" />
  <xs:element name="eliminarOriginadorResponse" type="tns:eliminarOriginadorResponse" />
  <xs:element name="insertarEmisor" type="tns:insertarEmisor" />
  <xs:element name="insertarEmisorResponse" type="tns:insertarEmisorResponse" />
  <xs:element name="insertarInstrumento" type="tns:insertarInstrumento" />
  <xs:element name="insertarInstrumentoResponse" type="tns:insertarInstrumentoResponse" />
  <xs:element name="insertarOriginador" type="tns:insertarOriginador" />
  <xs:element name="insertarOriginadorResponse" type="tns:insertarOriginadorResponse" />
  <xs:element name="listarEmisores" type="tns:listarEmisores" />
  <xs:element name="listarEmisoresResponse" type="tns:listarEmisoresResponse" />
  <xs:element name="listarInstrumentoXcodigo" type="tns:listarInstrumentoXcodigo" />
  <xs:element name="listarInstrumentoXcodigoOriginador" type="tns:listarInstrumentoXcodigoOriginador" />
  <xs:element name="listarInstrumentoXcodigoOriginadorResponse" type="tns:listarInstrumentoXcodigoOriginadorResponse" />
  <xs:element name="listarInstrumentoXcodigoResponse" type="tns:listarInstrumentoXcodigoResponse" />
  <xs:element name="listarTodosLosOriginadores" type="tns:listarTodosLosOriginadores" />
  <xs:element name="listarTodosLosOriginadoresResponse" type="tns:listarTodosLosOriginadoresResponse" />
  <xs:element name="modificarEmisor" type="tns:modificarEmisor" />
  <xs:element name="modificarEmisorResponse" type="tns:modificarEmisorResponse" />
  <xs:element name="modificarInstrumento" type="tns:modificarInstrumento" />
  <xs:element name="modificarInstrumentoResponse" type="tns:modificarInstrumentoResponse" />
  <xs:element name="modificarOriginador" type="tns:modificarOriginador" />
  <xs:element name="modificarOriginadorResponse" type="tns:modificarOriginadorResponse" />
  <xs:complexType name="eliminarOriginador">
    <xs:sequence>
      <xs:element name="idOriginador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOriginadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEmisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="emisor" type="tns:emisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="emisor">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="originadores" nillable="true" type="tns:originador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="originador">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="codigoOriginador" type="xs:string" />
      <xs:element name="fidEmisor" type="xs:int" />
      <xs:element name="idOriginador" type="xs:int" />
      <xs:element minOccurs="0" name="nombreOriginador" type="xs:string" />
      <xs:element minOccurs="0" name="sectorGics" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEmisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInstrumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="instrumento" type="tns:instrumento" />
      <xs:element name="codigoOriginador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instrumento">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="clasificacionErr" type="xs:string" />
      <xs:element minOccurs="0" name="codigoISIN" type="xs:string" />
      <xs:element minOccurs="0" name="codigoSBS" type="xs:string" />
      <xs:element minOccurs="0" name="factorRiesgo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaMoodys" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaUltimaClasificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="fidOriginador" type="xs:int" />
      <xs:element name="idInstrumento" type="xs:int" />
      <xs:element minOccurs="0" name="leyAplicable" type="tns:eLeyAplicable" />
      <xs:element minOccurs="0" name="limiteAplicable" type="tns:eLimiteAplicable" />
      <xs:element minOccurs="0" name="moodys" type="xs:string" />
      <xs:element minOccurs="0" name="ratingEncaje" type="xs:string" />
      <xs:element minOccurs="0" name="ratingEncajeSistema" type="xs:string" />
      <xs:element minOccurs="0" name="ratingUnificado" type="xs:string" />
      <xs:element minOccurs="0" name="ratingUnificadoLocal" type="xs:string" />
      <xs:element minOccurs="0" name="score" type="xs:string" />
      <xs:element minOccurs="0" name="situacionCartera" type="tns:eSituacionCartera" />
      <xs:element minOccurs="0" name="situacionInstrumento" type="xs:string" />
      <xs:element minOccurs="0" name="tipoOperacion" type="tns:eTipoOperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInstrumentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarInstrumentoXcodigoOriginador">
    <xs:sequence>
      <xs:element name="codigoOriginador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarInstrumentoXcodigoOriginadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:instrumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInstrumento">
    <xs:sequence>
      <xs:element name="idInstrumento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInstrumentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarUnOriginadorPorCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoOriginador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarUnOriginadorPorCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:originador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmisores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmisoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:emisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOriginador">
    <xs:sequence>
      <xs:element minOccurs="0" name="originador" type="tns:originador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOriginadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarInstrumentoXcodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarInstrumentoXcodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:instrumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarOriginador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Originador" type="tns:originador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarOriginadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="emisor" type="tns:emisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInstrumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="instrumento" type="tns:instrumento" />
      <xs:element name="codigoOriginador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInstrumentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosLosOriginadores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosLosOriginadoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:originador" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="eLeyAplicable">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exterior" />
      <xs:enumeration value="Local" />
      <xs:enumeration value="No_aplica" />
      <xs:enumeration value="SBS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eLimiteAplicable">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Local" />
      <xs:enumeration value="Exterior" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eSituacionCartera">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vencido" />
      <xs:enumeration value="Vigente" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="eTipoOperacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="compra" />
      <xs:enumeration value="venta" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>